.header-container {
    padding-top: 30px;
    padding-left: 25px;
    height: 90%;
    width: 90%;
    align-content: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: auto;
    text-align: center;
    font-size: 2.0rem;
    font-style: italic;
    font-weight: bolder;
}

.project-img {
    padding-bottom: 5px;
    position: absolute;
    left: 7%;
    height: 40%;
    width: 35%;
    padding-top: 10px;
    padding-left: 15px;
}

.description-container {
    float: right;
    width: 50%;
    height: 50%;
    padding: 10;
}

.manager {
    position: absolute;
    left: 50%;
    top: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding: 15;
    font-weight: bold;
}

.description {
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    padding: 15;
    font-weight: bold;
}

.description p {
    font-family: 'Roboto', sans-serif;
}

.url {
    font-size: 1.6rem;
    font-weight: bolder;
}